body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d0e6e5;
}

.login-container {
    background-color: #ca3030;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 20px 20px 60px #bebebe, 
                -20px -20px 60px #ffffff;
}

.login-box {
    width: 300px;
    padding: 40px;
    background-color: #f0e4e4;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #bebebe, 
                -10px -10px 20px #ffffff;
}

.login-box h2 {
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}

.textbox {
    position: relative;
    margin-bottom: 30px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: inset 7px 7px 15px #bebebe, 
                inset -7px -7px 15px #ffffff;
}

.btn {
    margin-left: 25%;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #6c63ff;
    color: #fff;
    border-radius: 10px;
    box-shadow: 7px 7px 15px #bebebe, 
                -7px -7px 15px #ffffff;
}

.bottom-text {
    margin-top: 10%;
    text-align: center;
    color: #333;
}

.bottom-text a {
    color: #6c63ff;
    text-decoration: none;
}
